* {
    margin: 0;
}

body {
    background: #0c132b;
    font-family: "PT Serif Caption", serif;
}

.hero {
    padding-top: 12.5vh;
    padding-bottom: 10vh;
    background-color: black;
}


.profile {
    margin-left: 30vh;
    
    background: #46537c;
    padding: 30px;
    border-radius: 20px;
    width: 30%;
    height: 50vh;
}

.profile h1 ,.profile h3{
    padding: 0;
    margin: 0;
    
}

.contact_button {
    margin-top: 3vh;
    border-radius: 10px;
    color: aliceblue;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #eb4034;
    height: 7.5vh;
    width: 25vh;
}

.about_me {
    margin-top: 5vh;
}

.about {
    padding: 20px;
    margin: 3vh;
    margin-left: 6vh;
    margin-right: 6vh;
    border-radius: 20px;
    background-color: #46537c;
    
    display: flex;
    flex-direction: row;
}

.about_image {
    border-radius: 20px;
    height: 35vh;
}
.about_text_left {
    display: flex;
    flex-direction: row;
    
}
.title {
    margin-bottom: 8px;
    
    text-align: center;
    
}

.title span {
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    
    font-weight: 700;
    font-size: 18px;

    background-color: #eb4034;
    border-radius: 20px;
}