* {
    margin: 0;
}

body {
    background: #0c132b;
    font-family: "PT Serif Caption", serif;
}

.hero {
    padding-top: 12.5vh;
    padding-bottom: 10vh;
    background-color: black;
}


.profile {
    margin-left: 30vh;
    
    background: #46537c;
    padding: 30px;
    border-radius: 20px;
    width: 30%;
    height: 50vh;
}

.profile h1 ,h3{
    padding: 0;
    margin: 0;
    
}

.contact_button {
    margin-top: 3vh;
    border-radius: 10px;
    color: aliceblue;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #eb4034;
    height: 7.5vh;
    width: 25vh;
}

.about_me h2 {
    display: flex;
    margin: 40%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    justify-content: center;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eb4034;
    border-radius: 20px;
    border: solid 2px aliceblue;
}